<head> <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous"> </head>

<div class="row top-buffer"> </div>

<div class="row">
  <div class="col-12 col-md-6">
    <img src=<%=@ad.image%> alt="image of ad" class="img-thumbnail">

    <div class="business-card" style="width: 25rem;">
      <h5 class="card-title"> Current Ad <a class="edit-link" href="www.google.com"> edit </a> </h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> Ads Remaining: <%=@ad.availability%> </li>
        <li class="list-group-item"> Duration: <%=@ad.duration%> </li>
        <li class="list-group-item"> Distance: Within <%=@ad.radius%> of <%=@ad.zip_code%> </li>
      </ul>
    </div>

  </div>

  <div class="col-12 col-md-6">

    <div class="business-card" style="width: 25rem;">
      <h5 class="card-title"> Company Details <a class="edit-link" href="www.google.com"> edit </a> </h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> Company Name: <%=@business.business_name %> </li>
        <li class="list-group-item"> Contact Person: <%= @business.first_name + " " + @business.last_name %> </li>
        <li class="list-group-item"> Email: <%= @business.email %> </li>
        <li class="list-group-item"> Password: ******* </li>
        <li class="list-group-item"> Current Payment Method: <i class="fab fa-cc-visa"></i> </li>
      </ul>
      
    </div>
    <div class="business-card" style="width: 25rem;">
      <h5 class="card-title"> Current Cars <a class="edit-link" href="www.google.com"> edit </a> </h5>
      <% @cars.each do |car| %>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"> Make: <%=car.make%> </li>
          <li class="list-group-item"> Model: <%=car.model%> </li>
          <li class="list-group-item"> Year: <%=car.year%> </li>
          <li class="list-group-item"> Mileage: <%= number_with_delimiter(car.mileage.floor, :precision => 0, :delimiter => ',') %> </li>
        </ul>
      <% end %>
    </div>
  </div>

</div>
