<div class="row top-buffer"> </div>

   

<div class="row">
  <div class="col-12 col-md-6">
    <img src=<%=@ad.image%> alt="image of ad" class="img-thumbnail">
  </div>
  <div class="col-12 col-md-6">
    <h2> Review Details </h2>
    <div class="business-card">
      <h5 class="card-title"> <% @business.business_name %> </h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> Ads Remaining: <%=@ad.availability%> </li>
        <li class="list-group-item"> Duration: <%=@ad.duration%> </li>
        <li class="list-group-item"> Distance: Within <%=@ad.radius%> of <%=@ad.zip_code%> </li>
        <br>
        <%= button_to "Confirm", "/cars/#{@car.id}", class:"btn btn-primary", method: :patch, remote: true, params: { ad_id: @ad.id} %>
      </ul>
    </div>
  </div>
</div>
