<!DOCTYPE html>
<html>
  <head>
    <title>GreenLightDemo</title>
    <%= csrf_meta_tags %>
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <!-- nav bar -->
  <div class="topnav" id="myTopnav">
    <a href="/">Home </a>
    <% if current_driver == nil %>
      <a href="/driver_login"> Driver Login </a>
      <a href="/driver_signup">Driver Signup</a>
    <% else %>
      <a href="/driver_logout">Driver Logout</a>
    <% end %>
    <% if current_business == nil %>
      <a href="/business_login">Business Login</a>
      <a href="/business_signup">Business Signup</a>
    <% else %>
      <a href="/business_logout">Business Logout</a>
    <% end %>
  </div>

  <body>
    <% flash.each do |name, message| %>
      <div class="alert alert-<%=name%> alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"
        <span aria-hidden="true">&times;</span>
        </button>
        <%= message %>
      </div>
    <% end %>
  
    <div class="container">
      <%= yield %>
    </div>
  
  </body>
</html>
